/* Start = Aside User Menu */

body {
  position: relative;
  height: 100vh;
}

main {
  /* position: absolute; */
  /* width: 100vw; */
  display: flex;
  /* z-index: -99; */
  height: 100%;
}

main .aside {
  background: #d40000;
  padding-top: 150px;
  padding-right: 25px;
  width: 27%;
  /* z-index: 9; */
  display: flex;
  justify-content: flex-end;
}

main .aside .aside-content-wrapper {
  align-self: flex-start;
  background-color: gold;
  width: max-content;
}

main .aside .user-profile-wrapper {
  /* background-color: green; */
  display: flex;
}

main .aside .user-profile-wrapper .username-wrapper {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 13px;
}

main .aside .user-profile-wrapper .username-wrapper h3 {
  /* background-color: pink; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 0;
}

main .aside .user-profile-wrapper .username-wrapper .edit-profile-wrapper {
  /* background-color: purple; */
  display: flex;
  align-items: center;
  /* margin: 0; */
  gap: 5px;
  text-decoration: none;
  color: #9b9b9b;
}

main .aside .user-profile-wrapper .username-wrapper .edit-profile-wrapper:hover {
  cursor: pointer;
  opacity: 0.4;
}

main .aside .user-profile-wrapper svg {
  width: 16px;
  height: 16px;
}

main .aside .user-profile-wrapper .username-wrapper .edit-profile-wrapper p {
  margin: 0;
}

main .aside .menu-wrapper {
  /* background-color: yellow; */
  margin-top: 70px;
}

main .aside .menu-row a.btn-anchor {
  display: flex;
  margin-bottom: 20px;
  text-decoration: none;
  color: #222222;
  width: 80%;
}

main .aside .menu-row a.btn-anchor:hover {
  cursor: pointer;
  box-sizing: border-box;
  background-color: #d4d4d4;
  padding: 2px 4px;
  border-radius: 10px;
  filter: drop-shadow(0px 1px 8px #8f8c8c70);
}

main .aside .menu-row:hover {
  cursor: pointer;
}

main .aside .menu-row p.text.secondary {
  /* background-color: turquoise; */
  margin: 0;
  display: flex;
  align-items: center;
}

main .aside .menu-row .icon-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}

main .aside .menu-row .icon-wrapper img {
  /* background-color: yellow; */
}


/* End = Aside User Menu */


/* START = SIDEBAR RESPONSIVE */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .container {
    /* background-color: yellow; */
  }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    /* background-color: orange; */
  }
  main {
    /* justify-content: center; */
  }
  main .aside {
    /* width: max-content; */
    z-index: -9;
    display: flex;
    /* padding-left: 80px; */
    justify-content: flex-end;
  }
  main .aside .aside-content-wrapper {
    align-self: flex-start;
    /* background-color: gold; */
    width: 80%;
  }
  main .content {
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    justify-content: center;
  }
  main .content .card {
    width: 90%;
  }
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    /* background-color: aqua; */
  }
  main {
    /* background-color: salmon; */
    flex-direction: column;
  }
  main .aside {
    width: 100%;
    z-index: -9;
    display: flex;
    justify-content: center;
    /* padding-top: 100px; */
  }
  main .aside .aside-content-wrapper {
    align-self: flex-start;
    width: 80%;
  }
  main .aside .user-profile-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  main .aside .menu-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  main .aside .user-profile-wrapper img {
    width: 80px;
    height: 80px;
  }
  main .aside .menu-row {
    margin-bottom: 0px;
  }
  main .content {
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  main .content .card {
    width: 90%;
  }
  main .content .card .body {
    flex-direction: column-reverse;
    /* background: chartreuse; */
  }
  main .content .card .body .photo-profile-wrapper {
    /* background-color: rgb(255, 0, 0); */
    margin: 0 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content .card .body .photo-profile-wrapper img {
    width: 200px;
    height: 200px;
    /* background-color: bisque; */
    margin-bottom: 20px;
  }
  main form {
    width: 100%;
    /* background-color: aqua; */
  }
  main form.container {
    /* background: blueviolet; */
    padding: 0;
  }
  main form.container {
    /* background-color: blue; */
  }
  main form .row {
    /* background: blueviolet; */
    height: max-content;
    margin-bottom: 16px;
  }
  main .content .card form p {
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 140px; */
  }
  main form .btn-wrapper {
    width: 100%;
    margin-top: 32px;
  }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    /* background-color: green; */
  }
  main {
    /* background-color: salmon; */
    flex-direction: column;
  }
  main .aside {
    width: 100%;
    z-index: -9;
    display: flex;
    justify-content: center;
    /* padding-top: 100px; */
  }
  main .aside .aside-content-wrapper {
    align-self: flex-start;
    width: 80%;
  }
  main .aside .user-profile-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  main .aside .menu-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  main .aside .user-profile-wrapper img {
    width: 80px;
    height: 80px;
  }
  main .aside .menu-row {
    margin-bottom: 0px;
  }
  main .content {
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  main .content .card {
    width: 90%;
  }
  main .content .card .body {
    flex-direction: column-reverse;
    /* background: chartreuse; */
  }
  main .content .card .body .photo-profile-wrapper {
    /* background-color: rgb(255, 0, 0); */
    margin: 0 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content .card .body .photo-profile-wrapper img {
    width: 200px;
    height: 200px;
    /* background-color: bisque; */
    margin-bottom: 20px;
  }
  main form {
    width: 100%;
    /* background-color: aqua; */
  }
  main form.container {
    /* background: blueviolet; */
    padding: 0;
  }
  main form.container {
    /* background-color: blue; */
  }
  main form .row {
    /* background: blueviolet; */
    height: max-content;
    margin-bottom: 16px;
  }
  main .content .card form p {
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 140px; */
  }
  main form .btn-wrapper {
    width: 100%;
    margin-top: 32px;
  }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 250px) and (max-width: 480px) {
  .container {
    /* background-color: aqua; */
  }
  main {
    /* background-color: salmon; */
    flex-direction: column;
  }
  main .aside {
    width: 100%;
    z-index: -9;
    display: flex;
    justify-content: center;
    /* padding-top: 100px; */
  }
  main .aside .aside-content-wrapper {
    align-self: flex-start;
    width: 80%;
  }
  main .aside .user-profile-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  main .aside .menu-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  main .aside .user-profile-wrapper img {
    width: 80px;
    height: 80px;
  }
  main .aside .menu-row {
    margin-bottom: 0px;
  }
  main .content {
    width: 100%;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  main .content .card {
    width: 90%;
  }
  main .content .card .body {
    flex-direction: column-reverse;
    background: chartreuse;
  }
  main .content .card .body .photo-profile-wrapper {
    background-color: rgb(255, 0, 0);
    margin: 0 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content .card .body .photo-profile-wrapper img {
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-bottom: 20px;
  }
  main form {
    width: 100%;
    background-color: aqua;
  }
  main form.container {
    background: blueviolet;
    padding: 0;
  }
  main form.container {
    background-color: blue;
  }
  main form .row {
    background: blueviolet;
    height: max-content;
    margin-bottom: 16px;
  }
  main .content .card form p {
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 140px; */
  }
  main form .btn-wrapper {
    width: 100%;
    margin-top: 32px;
  }
}


/* END = SIDEBAR RESPONSIVE */