.test-modal {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}


/* Start = Modal Filter and Modal Payment */

.modal-payment .modal-content {
  padding: 0;
}

.modal-payment .modal-content .heading {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.modal-payment .modal-content .header,
.footer {
  padding: 23px;
  display: flex;
  box-shadow: 0px 0px 6px rgba(53, 50, 50, 0.25);
}

.modal-payment .modal-content .header .btn-close {
  margin: 0;
}

.modal-payment .modal-content .header h5 {
  width: 100%;
  margin: 0 10px;
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  color: #222222;
}

.modal-payment .modal-content .body {}

.modal-payment .modal-content .body .divider {
  width: 100%;
  height: 4px;
  background-color: #f4f4f4;
}

.modal-payment .modal-content .body .section {
  padding: 23px;
}

.modal-payment .modal-content .body .section .heading {
  margin-bottom: 25px;
  font-size: 1rem;
  /* background-color: yellow; */
}

.modal-payment .modal-content .section .bank-wrapper {
  /* background-color: rebeccapurple; */
}

.modal-payment .modal-content .section .row-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.modal-payment .modal-content .section .row-wrap.filter {
  padding-bottom: 0;
}

.modal-payment .modal-content .section .row-wrap .check-wrapper {
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-start;
}

.modal-payment .modal-content .section .row-wrap .circle-check {
  /* background-color: red; */
  border-radius: 100%;
}


/* START = checkbox circle */


/* Customize the label (the container) */

.container-check {
  display: block;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default checkbox */

.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom checkbox */

.container-check .checkmark {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* On mouse-over, add a grey background color */

.container-check:hover input~.checkmark {
  opacity: 0.5;
}


/* When the checkbox is checked, add a blue background */


/* tidle */

.container-check input:checked~.checkmark:after {
  display: flex;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  background: transparent;
  border: 2px solid #db3022;
}


/* Create the checkmark/indicator (hidden when not checked) */

.container-check .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}


/* END = checkbox circle */


/* START = SIZE WRAPPER */

.modal-content .section .row-wrap .size-wrapper {
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-start;
}

.modal-content .section .row-wrap .size-wrapper .container-check .checkmark {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  font-size: 14px;
  line-height: 40px;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 0.4px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.modal-content .section .row-wrap .size-wrapper .container-check input:checked~.checkmark:after {
  background: #db3022;
  border-radius: 8px;
  z-index: -9;
}


/* END = SIZE WRAPPER */


/* END = Category WRAPPER */

.modal-content .section .row-wrap .category-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.modal-content .section .row-wrap .category-wrapper .container-check {
  margin: 0;
}

.modal-content .section .row-wrap .category-wrapper .container-check .checkmark {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 14px;
  line-height: 40px;
  width: 100px;
  height: 40px;
  border: 0.4px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.modal-content .section .row-wrap .category-wrapper .container-check input:checked~.checkmark:after {
  width: 100%;
  background: #db3022;
  border-radius: 8px;
  z-index: -9;
}


/* END = Category WRAPPER */


/* START = BRAND WRAPPER */

svg:hover {
  cursor: pointer;
  /* background-color: yellow; */
}

svg.btn-arrow:hover path {
  fill: red;
}


/* END = BRAND WRAPPER */

.modal-payment .modal-content .section .row-wrap img {
  width: 125px;
}

.modal-payment .modal-content .section .bank-wrapper .row-wrap h6 {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 40px;
}

.modal-payment .modal-content .section .row-wrap input {
  background-color: black;
  width: 25px;
  height: 25px;
  border: 2px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-payment .modal-content .section .row-wrap p {
  margin: 0;
  height: max-content;
}

.modal-payment .modal-content .section .row-wrap .heading.price {
  margin: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
}


/* START = Footer Payment Modal  */

.modal-payment .modal-content .footer {
  display: flex;
  justify-content: space-between;
}

.modal-payment .modal-content .footer .total-wrapper {}

.modal-payment .modal-content .footer .total-wrapper h6 {
  margin: 0;
  margin-bottom: 8px;
}

.modal-payment .modal-content .text.primary {
  color: #db3022;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}

.modal-payment .modal-content .footer .btn-wrapper {
  width: 160px;
  display: flex;
  align-items: center;
}


/* END = Footer Payment Modal  */

.modal-payment .modal-content .footer.filter {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.modal-content .footer.filter .btn-wrapper {}


/* START = Footer Filter Modal  */


/* END = Footer Filter Modal  */


/* End = Modal Filter and Modal Payment */