/* Global Styling ============================== */

.container {
  /* background-color: cyan; */
}


/* Button */

.btn.secondary {
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: transparent;
  padding: 8px;
  width: 100%;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #9b9b9b;
}

.btn.secondary:hover {
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
}

.btn.primary {
  background: #db3022;
  border-radius: 25px;
  border: 0;
  box-sizing: border-box;
  color: white;
  width: 100%;
  padding: 8px 0;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn.primary:hover {
  opacity: 0.8;
}


/* Global Styling =============================== */


/* Start = Main content ==========================*/

main.container {
  display: flex;
}


/* Start = Heading Page */


/* End = Heading Page */


/* START = MAIN CONTENT GENERAL */

.card {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 20px;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 30px;
}


/* END = MAIN CONTENT GENERAL */


/* Start = Breadcrumb */

header {
  margin-top: 150px;
  /* background-color: yellow; */
}

header.container .breadcrumb-wrapper ol.breadcrumb {
  margin: 0;
  /* background-color: yellowgreen; */
}

header.container .breadcrumb-wrapper ol.breadcrumb li.breadcrumb-item a {
  text-decoration: none;
  color: #9b9b9b;
}

header.container .breadcrumb-wrapper ol.breadcrumb li.breadcrumb-item a:hover {
  opacity: 0.5;
}

header.container .breadcrumb-wrapper ol.breadcrumb li.breadcrumb-item.active {
  color: #464646;
  font-weight: 900;
}

header h1.heading-page {
  margin-top: 50px;
  /* background-color: violet; */
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  color: #222222;
}


/* End = Breadcrumb */


/* START = GRID PRODUCT */

main {
  margin-top: 25px;
  /* background-color: yellow; */
}

main.container {
  padding: 0;
}

main section.container {
  /* background-color: aqua; */
  padding: 0;
}

main section .col a {
  text-decoration: none;
  color: #222222;
  background-color: white;
  box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
  border-radius: 8px;
}

main section .col a.card {
  /* background-color: turquoise; */
  padding: 0;
  border: 0;
}

main section .col a:hover {
  box-shadow: 0px 0px 14px rgba(44, 44, 44, 0.164);
}

main section .col .card .card-body {
  padding: 10px 12px;
}

main section .col .card .card-body .card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

main section .col .card .card-body p.price {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 6px 0;
  color: #db3022;
}

main section .col .card .card-body p.store {
  /* font-family: Metropolis; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  color: #9b9b9b;
  margin-bottom: 11px;
}

main section .col .card .card-body .rating .star-wrapper {
  display: flex;
  /* align-self: flex-start; */
  gap: 2px;
  height: 100%;
}

main section .col .card .card-body .rating .star-wrapper img {
  width: 13px;
  height: 12px;
}

main section .col .card .card-body .rating .sold {
  margin-left: 3px;
  color: #9b9b9b;
}


/* END = GRID PRODUCT */


/* Divider */

main.container .divider {
  border: 1px solid #d4d4d4;
  margin: 6px 0 18px 0;
}


/* End = Main content ============================ */


/* Start = Footer Section ============================ */

footer {
  display: flex;
  width: 100vw;
  bottom: 0;
  background-color: rgba(192, 192, 192, 0.404);
  padding: 24px;
  justify-content: center;
  margin-top: 100px;
}

footer p {
  margin: auto 0;
  margin-left: 16px;
  font-size: 26px;
  font-weight: 700;
  color: #db3022;
}


/* End = Footer Section ============================ */