/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .container {
    /* background-color: yellow; */
  }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    /* background-color: orange; */
  }
  main {
    /* justify-content: center; */
  }
  main aside {
    /* width: max-content; */
    z-index: -9;
    display: flex;
    /* padding-left: 80px; */
    justify-content: flex-end;
  }
  main aside .aside-content-wrapper {
    align-self: flex-start;
    /* background-color: gold; */
    width: 80%;
  }
  main .content {
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    justify-content: center;
  }
  main .content .card {
    width: 90%;
  }
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    /* background-color: aqua; */
  }
  main {
    /* background-color: salmon; */
    flex-direction: column;
  }
  main aside {
    width: 100%;
    z-index: -9;
    display: flex;
    justify-content: center;
    /* padding-top: 100px; */
  }
  main aside .aside-content-wrapper {
    align-self: flex-start;
    width: 80%;
  }
  main aside .user-profile-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  main aside .menu-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  main aside .user-profile-wrapper img {
    width: 80px;
    height: 80px;
  }
  main aside .menu-row {
    margin-bottom: 0px;
  }
  main .content {
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  main .content .card {
    width: 90%;
  }
  main .content .card .body {
    flex-direction: column-reverse;
    /* background: chartreuse; */
  }
  main .content .card .body .photo-profile-wrapper {
    /* background-color: rgb(255, 0, 0); */
    margin: 0 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content .card .body .photo-profile-wrapper img {
    width: 200px;
    height: 200px;
    /* background-color: bisque; */
    margin-bottom: 20px;
  }
  main form {
    width: 100%;
    /* background-color: aqua; */
  }
  main form.container {
    /* background: blueviolet; */
    padding: 0;
  }
  main form.container {
    /* background-color: blue; */
  }
  main form .row {
    /* background: blueviolet; */
    height: max-content;
    margin-bottom: 16px;
  }
  main .content .card form p {
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 140px; */
  }
  main form .btn-wrapper {
    width: 100%;
    margin-top: 32px;
  }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    /* background-color: green; */
  }
  main {
    /* background-color: salmon; */
    flex-direction: column;
  }
  main aside {
    width: 100%;
    z-index: -9;
    display: flex;
    justify-content: center;
    /* padding-top: 100px; */
  }
  main aside .aside-content-wrapper {
    align-self: flex-start;
    width: 80%;
  }
  main aside .user-profile-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  main aside .menu-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  main aside .user-profile-wrapper img {
    width: 80px;
    height: 80px;
  }
  main aside .menu-row {
    margin-bottom: 0px;
  }
  main .content {
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  main .content .card {
    width: 90%;
  }
  main .content .card .body {
    flex-direction: column-reverse;
    /* background: chartreuse; */
  }
  main .content .card .body .photo-profile-wrapper {
    /* background-color: rgb(255, 0, 0); */
    margin: 0 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content .card .body .photo-profile-wrapper img {
    width: 200px;
    height: 200px;
    /* background-color: bisque; */
    margin-bottom: 20px;
  }
  main form {
    width: 100%;
    /* background-color: aqua; */
  }
  main form.container {
    /* background: blueviolet; */
    padding: 0;
  }
  main form.container {
    /* background-color: blue; */
  }
  main form .row {
    /* background: blueviolet; */
    height: max-content;
    margin-bottom: 16px;
  }
  main .content .card form p {
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 140px; */
  }
  main form .btn-wrapper {
    width: 100%;
    margin-top: 32px;
  }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 250px) and (max-width: 480px) {
  .container {
    background-color: aqua;
  }
  main {
    /* background-color: salmon; */
    flex-direction: column;
  }
  main aside {
    width: 100%;
    z-index: -9;
    display: flex;
    justify-content: center;
    /* padding-top: 100px; */
  }
  main aside .aside-content-wrapper {
    align-self: flex-start;
    width: 80%;
  }
  main aside .user-profile-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  main aside .menu-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  main aside .user-profile-wrapper img {
    width: 80px;
    height: 80px;
  }
  main aside .menu-row {
    margin-bottom: 0px;
  }
  main .content {
    width: 100%;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  main .content .card {
    width: 90%;
  }
  main .content .card .body {
    flex-direction: column-reverse;
    background: chartreuse;
  }
  main .content .card .body .photo-profile-wrapper {
    background-color: rgb(255, 0, 0);
    margin: 0 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .content .card .body .photo-profile-wrapper img {
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-bottom: 20px;
  }
  main form {
    width: 100%;
    background-color: aqua;
  }
  main form.container {
    background: blueviolet;
    padding: 0;
  }
  main form.container {
    background-color: blue;
  }
  main form .row {
    background: blueviolet;
    height: max-content;
    margin-bottom: 16px;
  }
  main .content .card form p {
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 140px; */
  }
  main form .btn-wrapper {
    width: 100%;
    margin-top: 32px;
  }
}