/* Global Styling ============================== */

.container {
  /* background-color: cyan; */
}


/* Button */

.btn.secondary {
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  /* border-radius: 24px; */
  background-color: transparent;
  padding: 8px;
  width: 100%;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #9b9b9b;
}

.btn.secondary:hover {
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
}

.btn.primary {
  background: #db3022;
  border-radius: 25px;
  border: 0;
  box-sizing: border-box;
  color: white;
  width: 100%;
  padding: 8px 0;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn.primary:hover {
  opacity: 0.8;
}


/* Global Styling =============================== */


/* START = MAIN ========================= */


/* MAIN GLOBAL */

main.container {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

main.container .text.secondary {
  /* background-color: yellow; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}

main.container .text.secondary.active {
  color: #222222;
}


/* COLOR GLOBAL */

.blue {
  background: #456bf3;
}

.orange {
  background: #f36f45;
}

.pink {
  background: #f3456f;
}


/* Start = Content Data Profile Menu */

main .content {
  background: #f5f5f5;
  width: 75%;
  padding: 40px;
  padding-top: 0;
  padding-top: 150px;
}

main .content .card {
  padding: 30px;
  background: #ffffff;
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 4px;
  width: 80%;
}

main .content .card h1 {
  /* background-color: yellow; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 6px;
}

main .content .card p {
  /* background-color: pink; */
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}

main .divider {
  border: 1px solid #d4d4d4;
  margin: 16px 0 34px 0;
}

main .content .card .body {
  display: flex;
  justify-content: space-between;
  /* background-color: green; */
}

main form {
  width: 70%;
  /* background-color: aqua; */
}

main form .row {
  /* background-color: orange; */
  height: 48px;
  margin: 0;
  margin-bottom: 22px;
}

main form .row p.text {
  /* background-color: palegreen; */
  text-align: right;
  margin: auto 0;
  margin-right: 32px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main form .row .col {
  /* background-color: palegreen; */
}

main form input {
  border: 1px solid #9b9b9b;
  width: 100%;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
  padding: 12px 18px;
}

main form input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

main form .center-wrapper {
  display: flex;
  gap: 36px;
}


/* START = GENDER SELECT WRAPPER */


/* Customize the label (the gender) */

main form .gender {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  align-items: center;
}

main form .gender input {
  width: 15px;
}

main form .gender input:checked {
  background-color: #db3022;
}


/* Create a custom radio button */

main form .gender .checkmark {
  /* background-color: yellow; */
}


/* On mouse-over, add a grey background color */

main form .gender:hover input~.checkmark {
  opacity: 0.5;
  cursor: pointer;
}


/* When the radio button is checked, add a blue background */

main form .gender input:checked~.checkmark {
  color: #db3022;
}


/* END = GENDER SELECT WRAPPER */

main .content .card .body form .row .col-2,
.col-10 {
  padding: 0;
}

main form .gender input {
  /* background-color: cornflowerblue; */
}

form select {
  background: #ffffff;
  width: 100px;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  padding: 10px 12px;
}

option {
  /* background-color: royalblue; */
}

main form .btn-wrapper {
  width: 100px;
  margin-top: 48px;
}

main .content .card .body .photo-profile-wrapper {
  /* background-color: blue; */
  margin: 0 49px;
}

main .content .card .body .photo-profile-wrapper img {
  width: 110px;
  height: 110px;
  /* background-color: bisque; */
  margin-bottom: 20px;
}


/* End = Content Data Profile Menu */


/* END = MAIN ========================= */


/* Start = Footer Section ============================ */

footer {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  bottom: 0;
  background-color: gray;
  /* background-color: rgba(192, 192, 192, 0.404); */
  display: flex;
  padding: 24px;
  justify-content: center;
  margin-top: 100px;
}

footer p {
  margin: auto 0;
  margin-left: 16px;
  font-size: 26px;
  font-weight: 700;
  color: #db3022;
}


/* End = Footer Section ============================ */