@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/metropolis/Metropolis-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Metropolis-Medium';
  src: url('../fonts/metropolis/Metropolis-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('../fonts/metropolis/Metropolis-SemiBold.otf') format('truetype');
}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('../fonts/metropolis/Metropolis-Bold.otf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Metropolis';
  background-color: white;
}


/* START = GLOBAL BUTTON */

.btn.primary {
  background: #db3022;
  border-radius: 25px;
  border: 0;
  box-sizing: border-box;
  color: white;
  width: 100%;
  padding: 8px 0;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
}

.btn.primary:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn.secondary {
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: transparent;
  padding: 8px;
  width: 100%;
  height: 100%;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #9b9b9b;
}

.btn.secondary:hover {
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
  cursor: pointer;
}

.btn-wrapper a {
  display: block;
  display: flex;
  justify-content: center;
  font: inherit;
  font-size: 1rem;
  text-decoration: none;
}


/* END = GLOBAL BUTTON */


/* START = Global SVG */

svg.stroke:hover path {
  stroke: #db3022;
}

svg.fill:hover path {
  fill: #db3022;
}


/* START = Global SVG */


/* START = PAGE 404 */

.hide-modal-404 {
  display: none;
}

.show-modal-404 {
  display: block;
}

.page-404-wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 9;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.page-404-wrapper .card-404 {
  background: #ffffff;
  border-radius: 20px;
  padding: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-404-wrapper .card-404 .logo {
  text-align: center;
  margin-bottom: 32px;
}

.page-404-wrapper .card-404 .header {
  text-align: center;
  margin-bottom: 32px;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
  color: #253757;
}

.page-404-wrapper .card-404 .illustration {
  text-align: center;
  margin-bottom: 30px;
}

.page-404-wrapper .card-404 .illustration img {
  width: 80%;
}

.page-404-wrapper .card-404 .illustration img {
  width: 80%;
}

.page-404-wrapper .card-404 .btn-wrapper {
  margin-bottom: 20px;
  height: 50px;
}

.page-404-wrapper .card-404 .btn-wrapper button {
  font-size: 25px;
  text-transform: uppercase;
}

.page-404-wrapper .card-404 .bottom {
  background: #df4538;
  border-radius: 0px 0px 20px 20px;
  height: 22px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


/* END = PAGE 404 */


/* Checkbox Red */


/* START  = Checkbox */

.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}


/* On mouse-over, add a grey background color */

.checkbox-wrapper:hover input~.checkmark {
  background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.checkbox-wrapper input:checked~.checkmark {
  background: #db3022;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}


/* Show the checkmark when checked */

.checkbox-wrapper input:checked~.checkmark:after {
  display: block;
}


/* Style the checkmark/indicator */

.checkbox-wrapper .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* END  = Checkbox */


/* START = GLOBAL COLORS */

.red {
  background: #cc0b04;
}

.blue {
  background: #1c3391;
}

.orange {
  background: #f67b02;
}

.pink {
  background: #e31f51;
}

.green {
  background: #57cd9e;
}

.bg-black {
  background-color: #020202;
}

.bg-white {
  background-color: #ffffff;
}

.bg-red {
  background-color: #b82222;
}

.bg-brown {
  background-color: #bea9a9;
}

.bg-caramel {
  background-color: #e2bb8d;
}

.bg-donker {
  background-color: #151867;
}

.text.active {
  font-weight: 800;
}


/* END = GLOBAL COLORS */


/* START = TEXT GLOBALS */

.text-xl {
  /* font 20px */
  font-size: 1.25rem;
  /* 26px */
  line-height: 1.625rem;
}

.text-lg {
  /* font 16px */
  font-size: 1rem;
  /* 22px */
  line-height: 1.375rem;
}

.text-md {
  /* font 14px */
  font-size: 0.875rem;
  /* 20px */
  line-height: 1.25rem;
}

.text-sm {
  /* font 12px */
  font-size: 0.75rem;
  /* 16px */
  line-height: 1rem;
}

.text-red {
  color: #cc0b04;
}

.text-gray {
  color: #9b9b9b;
}

.text-center {
  text-align: center;
}

.text-anchor {
  text-decoration: none;
}

.text-anchor:hover {
  opacity: 0.5;
}


/* END = TEXT GLOBALS */