.container {
  display: flex;
  margin: -40px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 400px;
}


/* START = header page  */

header {
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: #db3022;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  margin-left: 8px;
  font-family: Metropolis;
}

.sub-heading {
  color: #222222;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-top: 40px;
}


/* END = header page  */


/* START = Navigation role  */

nav {
  margin: 50px 0 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  font: inherit;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 48px;
}

nav a.customer {
  border: 1px solid #9b9b9b;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px 0px 0px 4px;
  background-color: white;
  color: #9b9b9b;
}

nav a.customer:hover {
  border: 1px solid #222222;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
  color: #222222;
}

nav a.seller {
  border: 1px solid #db3022;
  background-color: #db3022;
  color: white;
  border-radius: 0px 4px 4px 0px;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
}

nav a.seller:hover {
  background: #db3022;
  opacity: 0.9;
}


/* END = Navigation role  */


/* START = Form Login Input  */

form {
  width: 400px;
}

form input {
  border: 1px solid #9b9b9b;
  height: 48px;
  width: 400px;
  box-sizing: border-box;
  padding: 16px 23px;
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
}

form .email-wrapper {
  margin-bottom: 16px;
}

form .password-wrapper {
  margin-bottom: 26px;
}

form .forgot-info {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 26px;
}

form .forgot-info a {
  text-decoration: none;
  color: #db3022;
  font-size: 14px;
}

.btn-wrapper {
  width: 100%;
}

form .register {
  margin-top: 40px;
  text-align: center;
  color: #222222;
  font-size: 14px;
}

form .register a {
  text-decoration: none;
  color: red;
}


/* END = Form Login Input  */