/* Start = Main content ==========================*/

main.container {
  padding: 0;
  margin-top: 49px;
  padding: 0;
  margin-top: 150px;
}


/* Start = Carousel ==============================*/

.carousel-cell {
  width: 42%;
  height: 200px;
  margin-right: 30px;
  border-radius: 30px;
  /* background-color: aqua; */
  counter-increment: carousel-cell;
}

.carousel-cell .card img {
  border-radius: 15px;
}

.main-carousel .flickity-prev-next-button {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(181, 181, 181, 0.25);
  width: 52px;
  height: 52px;
  margin: 0 40px;
}

.main-carousel .flickity-prev-next-button svg {
  width: 20px;
  margin-left: 4px;
}

.main-carousel .flickity-prev-next-button svg path {
  fill: #9b9b9b;
}

.flickity-page-dots {
  display: flex;
}


/* cell number */

.container .main-carousel .carousel-cell a.card {
  width: 100%;
  /* height: 100%; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  /* border-radius: 300px; */
  border-radius: 15px;
}

.container .main-carousel .carousel-cell a.card:hover {
  opacity: 0.8;
}

.container .main-carousel .carousel-cell a.card img {
  width: 100%;
  margin: 0;
  /* height: 100%; */
}

.container .main-carousel .carousel-cell a.card h3 {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  color: #ffffff;
}


/* End = Carousel =================================*/


/* START = SECTION GENERAL =========================*/


/* Start = Heading */

main section .heading {
  margin-top: 50px;
}

main section .heading h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  color: #222222;
  margin-bottom: 4px;
}

main section .heading p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #9b9b9b;
  margin-bottom: 30px;
}


/* End = Heading */


/* END = SECTION GENERAL =========================*/


/* Start = Category Section ======================= */


/* Start = Category list */

main section.category .carousel.main-carousel .flickity-viewport {
  width: 100%;
  padding: 0;
  height: max-content;
}

main section.category .carousel.main-carousel .carousel-cell {
  width: min-content;
  border-radius: 30px;
  counter-increment: carousel-cell;
}

main section.category .carousel.main-carousel .flickity-page-dots {
  display: none;
}

main section.category .carousel.main-carousel .flickity-prev-next-button.previous {
  display: none;
}

main section.category .carousel.main-carousel .flickity-prev-next-button {
  margin-right: -40px;
}

main section.category .carousel.main-carousel .card {
  width: 206px;
  height: 220px;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 28px; */
}

main section.category .carousel.main-carousel .card:hover {
  opacity: 0.7;
}

main section.category .carousel.main-carousel .card img {
  /* background-color: salmon; */
  /* height: 100%; */
}

main section.category .carousel.main-carousel .card h3 {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
}


/* End = Category list */


/* End = Category Section ======================= */


/* Start = New Product Section ==================  */


/* TEST GRID */

main section .custom-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 25px;
  padding: 0;
}

main section .custom-container .item {
  /* background-color: red; */
}

main section .custom-container .item a {
  text-decoration: none;
  color: #222222;
  background-color: white;
  box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
  border-radius: 8px;
}

main section .custom-container .item a:hover {
  box-shadow: 0px 0px 14px rgba(44, 44, 44, 0.164);
}

main section .custom-container .item .card .card-body {
  padding: 10px 12px;
}

main section .custom-container .item .card .card-body .card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

main section .custom-container .item .card .card-body p.price {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 6px 0;
  color: #db3022;
}

main section .custom-container .item .card .card-body p.store {
  /* font-family: Metropolis; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  color: #9b9b9b;
  margin-bottom: 11px;
}

main section .custom-container .item .card .card-body .rating .star-wrapper {
  display: flex;
  /* align-self: flex-start; */
  gap: 2px;
  height: 100%;
}

main section .custom-container .item .card .card-body .rating .star-wrapper img {
  width: 13px;
  height: 12px;
}

main section .custom-container .item .card .card-body .rating .sold {
  margin-left: 3px;
  color: #9b9b9b;
}


/* TEST GRID */


/* End = New Product Section ==================  */

footer {
  background-color: rgba(192, 192, 192, 0.404);
  display: flex;
  padding: 24px;
  justify-content: center;
  margin-top: 100px;
}

footer p {
  margin: auto 0;
  margin-left: 16px;
  font-size: 26px;
  font-weight: 700;
  color: #db3022;
}


/* End = Main content */