/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .container {
    /* background-color: yellow; */
  }
  main section .custom-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    /* background-color: orange; */
  }
  /* START = NEW PRODUCT SECTION */
  main section .custom-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  /* END = NEW PRODUCT SECTION */
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    /* background-color: blue; */
  }
  main.container {
    margin-top: 150px;
  }
  /* START = NEW PRODUCT SECTION */
  main section .custom-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  /* END = NEW PRODUCT SECTION */
}


/* 
  ##Device = Low Resolution Tablets, Mobiles
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    /* background-color: green; */
  }
  main.container {
    margin-top: 150px;
  }
  /* START = MAIN SECTION */
  /* START = NEW PRODUCT SECTION */
  main section .custom-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .carousel-cell {
    width: 100%;
    margin-right: 20px;
  }
  .container .main-carousel .carousel-cell a.card h3 {
    font-size: 32px;
  }
}


/* END = NEW PRODUCT SECTION */


/* START = MAIN SECTION */


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 250px) and (max-width: 480px) {
  .container {
    /* background-color: aqua; */
  }
  /* START = MAIN SECTION */
  /* START = MAIN CONTENT */
  main.container {
    padding: 0 25px;
    margin-top: 150px;
  }
  /* END = MAIN CONTENT */
  /* START = NEW PRODUCT SECTION */
  main section .custom-container {
    display: grid;
    grid-template-columns: auto;
  }
  main section .custom-container .item {}
  /* END = NEW PRODUCT SECTION */
  /* START = MAIN SECTION */
  .carousel-cell {
    width: 100%;
    margin-right: 20px;
  }
  .container .main-carousel .carousel-cell a.card h3 {
    font-size: 32px;
  }
}