.container {
  /* background-color: cyan; */
}


/* Start = Heading Page */

header.container {
  padding: 0;
  margin-top: 150px;
}

header h1.heading-page {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  color: #222222;
}


/* End = Heading Page */


/* Start = Main content ==========================*/

main.container {
  margin-top: 30px;
  display: flex;
  /* justify-content: space-between; */
  padding: 0;
}


/* START = MAIN CONTENT GENERAL */

main.container .card {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
  border-radius: 4px;
}

*/ main.container .list-cart-wrapper p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  line-height: 16px;
  height: 100%;
}

main.container .list-cart-wrapper p.sub-heading {
  color: #9b9b9b;
  margin-left: 3px;
}


/* END = MAIN CONTENT GENERAL */


/* Start = List Cart Products */


/* Start = Select All items */

main.container .list-cart-wrapper {
  /* width: 720px; */
  width: 70%;
}

main.container .list-cart-wrapper .all-controls {
  display: flex;
  flex-direction: row;
  padding: 22px;
  margin-bottom: 20px;
  height: 64px;
  gap: 16px;
  /* justify-content: space-between; */
}

main.container .list-cart-wrapper .all-controls .d-flex.justify-content-between {
  /* background-color: tomato; */
  width: 100%;
  /* justify-content: space-between; */
}

main.container .list-cart-wrapper .all-controls button {
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  border: 0;
  color: #db3022;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

main.container .list-cart-wrapper .all-controls button:hover {
  font-weight: 700;
}


/* End = Select All items */


/* Start = Items products */

main.container .list-cart-wrapper .items-product .item.card {
  padding: 22px;
  /* display: flex; */
  /* justify-content: space-between; */
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: yellow; */
  width: 100%;
  gap: 16px;
}

main.container .list-cart-wrapper .items-product .item.card .detail-product {
  display: flex;
  /* background-color: hotpink; */
}

main.container .list-cart-wrapper .items-product .d-flex.justify-content-between {
  /* background-color: salmon; */
  width: 100%;
}

main.container .list-cart-wrapper .items-product .item .detail-product img {
  height: 103px;
  width: 69px;
  margin-right: 14px;
}

main.container .list-cart-wrapper .items-product .item .detail-product .desc-product {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main.container .list-cart-wrapper .items-product .item .detail-product .desc-product p {
  height: auto;
}

main.container .list-cart-wrapper .items-product .item .detail-product .desc-product p.sub-heading {
  font-size: 12px;
  height: auto;
}


/* Start = count-wrapper */

main.container .list-cart-wrapper .items-product .item .count-wrapper {
  display: flex;
  align-items: center;
}

main.container .list-cart-wrapper .items-product .item .btn-circle {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  box-sizing: border-box;
  border: 0;
}

main.container .list-cart-wrapper .items-product .item .btn-circle.minus {
  background: #d5d5d5;
  color: white;
}

main.container .list-cart-wrapper .items-product .item .btn-circle.plus {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
}

main.container .list-cart-wrapper .items-product .item p.count,
p.price {
  /* background-color: rebeccapurple; */
}

main.container .list-cart-wrapper .items-product .item .btn-circle:hover {
  background: #db3022;
  color: white;
}

main.container .list-cart-wrapper .items-product .item p.count {
  margin: 0 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

main.container .list-cart-wrapper .items-product .item p.price {
  margin: auto;
  margin-left: 70px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #222222;
}


/* End = count-wrapper */


/* End = Items products */


/* End = List Cart Products */


/* Start = Total Payement */

main.container .total-payment {
  padding: 24px;
  align-self: flex-start;
  width: 370px;
  margin-left: 50px;
  /* height: 180px; */
}

main.container .total-payment h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 30px;
}

main.container .total-payment .price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

main.container .total-payment .price-wrapper p.heading {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #9b9b9b;
  margin: auto 0;
}

main.container .total-payment .price-wrapper p {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin: auto 0;
  display: flex;
  align-items: center;
  color: #222222;
}

main.container .total-payment .btn-primary {
  background: #db3022;
  border-radius: 25px;
  border: 0;
  box-sizing: border-box;
  color: white;
  padding: 8px 0;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

main.container .total-payment .btn-primary:hover {
  opacity: 0.8;
}


/* End = Total Payement */


/* End = Main content ============================ */


/* Start = Footer Section ============================ */


/* Start = Footer Section ============================ */

footer {
  display: none;
  /* visibility: hidden; */
  /* position: absolute; */
  width: 100vw;
  /* bottom: 0; */
  background-color: rgba(192, 192, 192, 0.404);
  padding: 24px;
  justify-content: center;
  margin-top: 100px;
}

footer p {
  margin: auto 0;
  margin-left: 16px;
  font-size: 26px;
  font-weight: 700;
  color: #db3022;
}


/* Start = Footer Section ============================ */