/* Global Styling ============================== */

.container {
  /* background-color: cyan; */
}


/* Button */

.btn.secondary {
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: transparent;
  padding: 8px;
  width: 100%;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #9b9b9b;
}

.btn.secondary:hover {
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
}

.btn.primary {
  background: #db3022;
  border-radius: 25px;
  border: 0;
  box-sizing: border-box;
  color: white;
  width: 100%;
  padding: 8px 0;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn.primary:hover {
  opacity: 0.8;
}


/* Global Styling =============================== */


/* Start = Heading Page */

header.container {
  padding: 0;
  margin-top: 150px;
}

header h1.heading-page {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  color: #222222;
}


/* End = Heading Page */


/* Start = Main content ==========================*/

main.container {
  margin-top: 30px;
  display: flex;
  padding: 0;
}


/* START = MAIN CONTENT GENERAL */

.card {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 20px;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 30px;
}


/* END = MAIN CONTENT GENERAL */


/* Start = Information Order */

main.container .information-order {
  /* width: 720px; */
  width: 70%;
}

main.container .information-order h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 14px;
}


/* Start = Address */

.item.address h3 {
  margin-bottom: 10px;
}

.item.address p {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
}

.item.address .btn-wrapper {
  width: 210px;
}


/* End = Address */


/* Start = Product Order */

.item.product {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.item .product-desc {
  display: flex;
}

.item .product-desc img {
  width: 70px;
  height: 69px;
  border-radius: 10px;
}

.item .product-desc .product-title {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item .product-desc .product-title h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 4px;
}

.item .product-desc .product-title p {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 12px;
  color: #9b9b9b;
  margin: 0;
}

.price {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #222222;
  margin: 0;
}


/* End = Product Order */


/* End = Information Order */

main.container .total-payment {
  padding: 24px;
  align-self: flex-start;
  width: 370px;
  margin-left: 50px;
}

main.container .total-payment .price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

main.container .total-payment .price-wrapper.last {
  margin-bottom: 23px;
}

main.container .total-payment .price-wrapper p.heading {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #9b9b9b;
  margin: auto 0;
}

main.container .total-payment .price-wrapper p {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin: auto 0;
  display: flex;
  align-items: center;
  color: #222222;
}

main.container .total-payment .price-wrapper h3 {
  margin: 0;
}


/* Divider */

main.container .divider {
  border: 1px solid #d4d4d4;
  margin: 6px 0 18px 0;
}


/* End = Total Payement */


/* End = Main content ============================ */


/* Global Modal Start */

.modal-content {
  box-sizing: border-box;
  border-radius: 8px;
}

.modal-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.modal-content h5 {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #222222;
  text-align: center;
  margin: 11px 0 30px 0;
}


/* Global Modal End */


/* Start = Modal Choose Address */

.modal.fade .modal-dialog .modal-content .modal-body .add-address {
  border: 2px dashed #9b9b9b;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 34px;
  padding: 34px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #9b9b9b;
}

.modal.fade .modal-dialog .modal-content .modal-body .add-address:hover {
  border: 2px dashed #222222;
  color: #222222;
  cursor: pointer;
}

.modal.fade .modal-dialog .modal-content .modal-body .card {
  background: #ffffff;
  border: 1px solid #db3022;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 0;
}

.modal.fade .modal-dialog .modal-content .modal-body .card p.primary {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #db3022;
}

.modal.fade .modal-dialog .modal-content .modal-body .card p.primary:hover {
  opacity: 0.8;
  cursor: pointer;
}


/* End = Modal Choose Address */


/* Start = Modal Add New Address */

#addNewAddress.modal .modal-body h5 {
  margin-bottom: 40px;
}

#addNewAddress.modal .modal-body .label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #9b9b9b;
}


/* Start = Form Input Add New Address */

form input {
  border: 1px solid #9b9b9b;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 23px;
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
}

form label {
  display: block;
  margin-bottom: 14px;
}

form .row {
  display: flex;
  margin-bottom: 16px;
  gap: 32px;
}

form .row .col {
  padding: 0;
}

form .row.last {
  display: flex;
  flex-direction: row;
  gap: 0;
}

form .row.last label {
  box-sizing: border-box;
  width: fit-content;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  margin-left: 13px;
}

form .row.last input {
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 4px;
  width: 20px;
  padding: 0;
}

#addNewAddress.modal form .action-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  height: 36px;
}

#addNewAddress.modal form .btn-wrapper {
  width: 160px;
}


/* End = Form Input Add New Address */


/* End = Modal Add New Address */


/* Start = Footer Section ============================ */

footer {
  display: none;
  width: 100vw;
  bottom: 0;
  background-color: rgba(192, 192, 192, 0.404);
  padding: 24px;
  justify-content: center;
  margin-top: 100px;
}

footer p {
  margin: auto 0;
  margin-left: 16px;
  font-size: 26px;
  font-weight: 700;
  color: #db3022;
}


/* End = Footer Section ============================ */