/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .container {
    /* background-color: blue; */
  }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    /* background-color: rgb(98, 98, 89); */
  }
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    /* background-color: orange; */
  }
  /* Start = Main content ==========================*/
  main.container {
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: 60px;
    display: block;
  }
  /* Start = List Cart Products */
  /* Start = Select All items */
  main.container .list-cart-wrapper {
    width: 100%;
  }
  main.container .information-order {
    width: 100%;
  }
  main.container .total-payment {
    width: 30%;
  }
  /* End = Select All items */
  /* End = List Cart Products */
  /* Start = Total Payement */
  main.container .total-payment {
    width: 100%;
    margin-left: 0;
  }
  /* END = Total Payement */
  /* End = Main content ==========================*/
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    /* background-color: green; */
  }
  .page-404-wrapper .card-404 {
    margin: 0 40px;
  }
  /* Start = Main content page MY BAG AND CHECKOUT ==========================*/
  header.container {
    padding: 0 20px;
  }
  main.container {
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: 60px;
    display: block;
    padding: 0 20px;
  }
  /* Start = List Cart Products */
  /* Start = Select All items */
  main.container .list-cart-wrapper {
    width: 100%;
  }
  main.container .information-order {
    width: 100%;
  }
  /* End = Select All items */
  /* End = List Cart Products */
  /* Start = Total Payement */
  main.container .total-payment {
    width: 100%;
    margin-left: 0;
  }
  /* END = Total Payement */
  /* START = Modal Add New Address Checkout  */
  form .row.row-col-2 {
    flex-direction: column;
  }
  /* END = Modal Add New Address Checkout  */
  /* End = Main content MY BAG AND CHECKOUT ==========================*/
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 250px) and (max-width: 480px) {
  .container {
    /* background-color: aqua; */
  }
  .page-404-wrapper .card-404 {
    margin: 0 30px;
  }
  /* Start = Main content  ==========================*/
  header.container {
    padding: 0 25px;
    /* background-color: orangered; */
    margin-top: 125px;
  }
  main.container {
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: 60px;
    display: block;
    padding: 0 25px;
  }
  main.container .list-cart-wrapper .items-product .item .count-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: skyblue; */
    width: 30%;
  }
  main.container .information-order {
    width: 100%;
  }
  main.container .list-cart-wrapper .items-product .item .count-wrapper p.price {
    /* background-color: red; */
    width: 100%;
    margin: 0;
    margin-top: 14px;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  main.container .list-cart-wrapper .items-product .item .count-wrapper p.count {
    /* background-color: red; */
    display: block;
    margin: 0;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  /* Start = List Cart Products */
  /* Start = Select All items */
  main.container .list-cart-wrapper {
    width: 100%;
  }
  /* End = Select All items */
  /* End = List Cart Products */
  /* Start = Total Payement */
  main.container .total-payment {
    width: 100%;
    margin-left: 0;
  }
  /* END = Total Payement */
  /* START = Modal Add New Address Checkout  */
  form .row.row-col-2 {
    flex-direction: column;
  }
  /* END = Modal Add New Address Checkout  */
  /* End = Main content ==========================*/
}