/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .container {
    /* background-color: yellow; */
  }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    /* background-color: orange; */
  }
  /* Start = Searching feature */
  nav .container .seaching-wrapper {
    /* background-color: yellow; */
  }
  nav .container .seaching-wrapper form input {
    width: 400px;
  }
  /* End = Searching feature */
  /* START = NEW PRODUCT SECTION */
  main section .custom-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  /* END = NEW PRODUCT SECTION */
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    /* background-color: blue; */
  }
  /* Start = Searching feature */
  nav .container .seaching-wrapper {
    /* background-color: yellow; */
  }
  nav .container .seaching-wrapper form input {
    width: 280px;
  }
  /* End = Searching feature */
  /* START = NEW PRODUCT SECTION */
  main section .custom-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  /* END = NEW PRODUCT SECTION */
  /* START = NAVIGATION BAR */
  nav .container .navigation-auth {
    /* display: flex;  */
    /* background-color: blue; */
  }
  nav .toggler-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    /* background-color: blueviolet; */
  }
  nav .toggler-wrapper svg path:hover {
    fill: darkgreen;
  }
  nav .btn-wrapper {
    display: none;
  }
  nav .cart {
    /* background-color: darkcyan; */
  }
  /* END = NAVIGATION BAR */
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    /* background-color: pink; */
  }
  /* Start = Searching feature */
  nav .container .seaching-wrapper {
    /* background-color: yellow; */
  }
  nav .container .seaching-wrapper form input {
    width: 280px;
  }
  /* End = Searching feature */
  /* START = NEW PRODUCT SECTION */
  main section .custom-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  /* END = NEW PRODUCT SECTION */
  /* START = NAVIGATION BAR */
  nav .container .navigation-auth {
    /* display: flex;  */
    /* background-color: blue; */
  }
  nav .toggler-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    /* background-color: blueviolet; */
  }
  nav .toggler-wrapper svg path:hover {
    fill: darkgreen;
  }
  nav .btn-wrapper {
    display: none;
  }
  nav .cart {
    /* background-color: darkcyan; */
  }
  /* END = NAVIGATION BAR */
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    /* background-color: green; */
  }
  /* START = NAVIGATION BAR */
  nav .container {
    padding: 30px;
  }
  /* Start = Searching feature */
  nav .container .seaching-wrapper {
    width: 450px;
    margin-left: 25px;
    display: flex;
    /* justify-content: space-between; */
    margin-right: -55px;
  }
  nav .container .seaching-wrapper form input {
    width: 170px;
  }
  /* End = Searching feature */
  /* START = LOGO BRAND */
  nav .container .logo-brand .logo-name {
    display: none;
  }
  /* END = LOGO BRAND */
  /* START = LOGIN BUTTON */
  nav .container .navigation-auth {
    /* display: flex;  */
    /* background-color: blue; */
  }
  nav .toggler-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    /* background-color: blueviolet; */
  }
  nav .toggler-wrapper svg path:hover {
    fill: darkgreen;
  }
  nav .btn-wrapper {
    display: none;
  }
  nav .cart {
    /* background-color: darkcyan; */
    /* display: none; */
    visibility: hidden;
    /* background-color: darkgrey; */
  }
  /* END = LOGIN BUTTON */
  /* END = NAVIGATION BAR */
  /* START = MAIN SECTION */
  /* START = NEW PRODUCT SECTION */
  main section .custom-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  /* END = NEW PRODUCT SECTION */
  /* START = MAIN SECTION */
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 250px) and (max-width: 480px) {
  .container {
    /* background-color: aqua; */
  }
  /* START = NAVIGATION BAR */
  nav .container {
    padding: 30px;
    display: flex;
    /* justify-content: flex-start; */
  }
  /* Start = Searching feature */
  nav .container .seaching-wrapper {
    display: none;
  }
  /* End = Searching feature */
  /* START = LOGO BRAND */
  nav .container .logo-brand {
    width: 100%;
  }
  nav .container .logo-brand .logo-name {
    font-size: 34px;
    /* width: 330px; */
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  /* END = LOGO BRAND */
  /* START = LOGIN BUTTON */
  nav .container .navigation-auth {
    /* display: flex;  */
    /* background-color: blue; */
  }
  nav .toggler-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-left: -65px;
    /* background-color: blueviolet; */
  }
  nav .toggler-wrapper svg path:hover {
    fill: darkgreen;
  }
  nav .btn-wrapper {
    display: none;
  }
  nav .cart {
    /* background-color: darkcyan; */
    /* display: none; */
    visibility: hidden;
    /* background-color: darkgrey; */
  }
  /* END = LOGIN BUTTON */
  /* END = NAVIGATION BAR */
  /* START = MAIN SECTION */
  /* START = MAIN CONTENT */
  main.container {
    padding: 0 25px;
  }
  /* END = MAIN CONTENT */
  /* START = NEW PRODUCT SECTION */
  main section .custom-container {
    display: grid;
    grid-template-columns: auto;
  }
  main section .custom-container .item {}
  /* END = NEW PRODUCT SECTION */
  /* START = MAIN SECTION */
}